# Application
PORT=3000
NODE_ENV=test

# DataBase
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=password
DB_DATABASE=skillswap_test

# JWT
JWT_SECRET=top-secret-key-JWT_test
JWT_SECRET_EXPIRES=10m
JWT_REFRESH_SECRET=top-secret-key-JWT-refresh_test
JWT_REFRESH_EXPIRES=10d

# FILE SIZE
MAX_FILE_SIZE=2097152 # 2MB

#Admin
ADMIN_NAME=Администратор
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=Admin_404
ADMIN_CITY=Нью-Васюки
